.bg-img
{
    background-image: url('../../assets/woods.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    overflow: hidden
}

