<div *ngIf="!(hideChecked && item.checked)" class="form-inline" style="margin-left: 2rem;">
    <div class="form-check" >
        <input *ngIf="item.checked; else notChecked" class="form-check-input" type="checkbox" [attr.id]="itemId"
              (change)="onCheckboxChange()" checked style="outline: 1px solid aliceblue">
        <ng-template #notChecked>
            <input class="form-check-input" type="checkbox" [attr.id]="itemId"
            (change)="onCheckboxChange()" style="outline: 1px solid aliceblue">
        </ng-template>
        <label class="form-check-label" [attr.for]="itemId"
              style="margin-left: 0.5rem;">
              <div style="width: 27rem;">
                {{ item.name }}
              </div>
        </label>
    </div>

    <div>
      <input type="image" src="../../assets/x-close.png" class="btImg"
      alt="Del" width="18.5" height="18.5" style="margin-top: 0.5rem; margin-left: 2rem;"
      (click)="onDeleteItem()"/>
    </div>

</div>
