.button-box {
  text-align:center;
  margin-top:20px;
}
.bg-img{
  background-image: url('../../assets/pexels-muhammad-khairul-iddin-adnan-808510.jpg');
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
}
