<div mat-dialog-content>
  <div *ngIf="this.cardService.showCard" class="card text-white bg-dark mb-3" id="card">

    <input id= "closeCard" type="image" src="../../assets/x-close.png" alt="Close" width="20" height="20"
        (click)="onCloseCard()"/>

    <div *ngIf="card">
      <img class="card-img-top" *ngIf="card.cover === 'none'; else coverChosen" src="../../assets/green.jpg"
          width="200" height="50" alt="Cover" style="opacity: 0;">

      <ng-template #coverChosen>
        <img class="card-img-top"  [src]="chosenCoverPath()"
             width="200" height="50">
      </ng-template>
    </div>


    <div class="card-header" *ngIf="card">
      <input class="text-light" id="cardTitle"
             value="{{ card.title }}" (blur)="onChangeTitle($event.target.value)">
      <h6> in list {{listName}}</h6>
      <button type="button" class="btn btn-outline-light" (click)="toggleMembersCard()">Members</button>
      <button type="button" class="btn btn-outline-light" (click)="toggleLabelsCard()">Labels</button>
      <button type="button" class="btn btn-outline-light" (click)="toggleChecklistCard()">Checklist</button>
      <button type="button" class="btn btn-outline-light" (click)="toggleDateCard()">Due date</button>
      <button type="button" class="btn btn-outline-light" (click)="toggleAttachmentCard()">Attachment</button>
      <button type="button" class="btn btn-outline-light" (click)="toggleCoverCard()">Cover</button>

    </div>



    <div id="cardBody">
        <div id="leftSide">
            <div *ngIf="card" class="ml-4">
              <h6 *ngIf="card.members.length > 0" style="margin-left: 1.5rem; margin-top: 1rem;">MEMBERS</h6>
              <div *ngFor="let member of card.members" style="margin-left: 1rem; margin-bottom: 1rem; margin-top: 1rem;">
                <div style="margin-left: 0.5rem;">{{member}}</div>
              </div>
            </div>

            <div *ngIf="card" class="ml-4">
                <h6 id="labelsTitle" *ngIf="card.labels.length > 0">LABELS</h6>
                <div class="row" id="listOfLabels">
                  <div id="labelPic" *ngFor="let label of card.labels">
                    <img *ngIf="label === 'green'" src="../../assets/green.jpg"  width="40" height="30">
                    <img *ngIf="label === 'yellow'" src="../../assets/yellow.jpg" width="40" height="30">
                    <img *ngIf="label === 'orange'" src="../../assets/orange.jpg" width="40" height="30">
                    <img *ngIf="label === 'red'"   src="../../assets/red.jpg"    width="40" height="30">
                    <img *ngIf="label === 'purple'" src="../../assets/purple.jpg" width="40" height="30">
                    <img *ngIf="label === 'blue'"   src="../../assets/blue.jpg"   width="40" height="30">
                  </div>
                </div>
            </div>


            <div *ngIf="card" class="ml-4">
              <div id="dueDate" *ngIf="this.card.dueDate">
                <h6>DUE DATE</h6>
                <div class="form-check">
                  <input *ngIf="card.completionStatus === 'complete'; else notChecked" class="form-check-input"
                         type="checkbox" id="dateCheckbox" (change)="checkStatus()" checked style="outline: 1px solid aliceblue">
                  <ng-template #notChecked>
                      <input class="form-check-input" type="checkbox" id="dateCheckbox" (change)="checkStatus()" style="outline: 1px solid aliceblue">
                  </ng-template>
                  <label class="form-check-label ml-2" for="dateCheckbox">
                    {{ card.dueDate | date:'fullDate' }}
                    <span *ngIf="card.completionStatus === 'complete'" class="label success">COMPLETE</span>
                    <span *ngIf="card.completionStatus === 'overdue'" class="label danger">OVERDUE</span>
                  </label>
                </div>
              </div>
            </div>

            <div style="margin-top: 1rem; margin-bottom: 3rem;" *ngIf="card">
              <div class="row">
                <img class="ml-3 mb-3" src="../../assets/menu.png" height="40" width="40">
                <h5 class="ml-2 mt-2">Description</h5>
              </div>
              <textarea class="form-control"
              id="description"
              placeholder="Add a more detailed description..."
              value="{{card.description}}"
              (blur)="onChangeDescription($event.target.value)">
              </textarea>
            </div>

            <div style="margin-bottom: 3rem; margin-left: 0.5rem;" *ngIf="card">
              <div *ngIf="card.fileUrls.length > 0" class="row">

                <img class="ml-3 mb-3" src="../../assets/attachment.png" height="22" width="22">

                <h5 class="ml-4">Attachments</h5>

                <button type="button"
                        class="btn btn-outline-light" (click)="onHideAttachments()"
                        style="margin-left: 6rem;">
                        {{ card.hideAttachmentsText }}
                </button>
              </div>
              <div *ngIf="!(this.card.hideAttachments)">
                  <div *ngFor="let file of card.fileUrls; index as i">
                      <div class="ml-1" style="margin-bottom: 1rem;">
                          <div class="row">
                              <div class="col-1"></div>
                              <a [href]="fileSrc(i)" target="_blank">
                                  <div class="landscape ml-2 mt-2">
                                      <img id="attachment" [src]="fileSrc(i)" alt="{{extName(i)}}">
                                  </div>
                              </a>
                              <div class="col-2"></div>
                              <div class="ml-5 mt-5">
                                  <button type="button" class="btn btn-outline-light"
                                          style="padding: 0; border: none; background: none;"
                                          (click)="onDeleteAttachment(i)">
                                      Delete
                                  </button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>

            <div *ngIf="card">
              <div *ngIf="card.checklists.length > 0">
                <div class="row text-light">
                  <img class="ml-4 mb-2 mt-1" src="../../assets/checklist.png" height="25" width="25">
                  <h5 class="mt-1 ml-4">Checklists</h5>
                </div>
              </div>
              <div id="checklists">
                  <app-checklist *ngFor="let checklist of card.checklists"
                                  [checklist]="checklist" [card]="card">
                  </app-checklist>
              </div>
            </div>
        </div>
      <div id="rightSide">
        <app-card-members *ngIf="showMembers" [addedMembers]="card.members" [boardMembers] = "this.boardMembers"
                          (emitShowMembers)="onCloseMembers($event)"
                          (emitNewMember)="onAddNewMember($event)">
        </app-card-members>

        <app-card-labels *ngIf="showLabels" [addedLabels]="card.labels"
                        (emitShowLabels)="onCloseLabels($event)"
                        (emitLabelChosen)="onLabelChosen($event)">
        </app-card-labels>

        <app-card-checklist *ngIf="showChecklist"
                            (emitShowChecklist)="onCloseChecklist($event)"
                            (emitChecklistTitle)="onRecieveChecklistTitle($event)">
        </app-card-checklist>

        <app-card-date *ngIf="showDate"
                      (emitShowDate)="onCloseDate($event)"
                      (emitSaveDate)="onSaveDate($event)"
                      (emitRemoveDate)="onRemoveDate($event)">
        </app-card-date>

        <app-card-attachment *ngIf="showAttachment"
                            (emitShowAttachment)="onCloseAttachment($event)"
                            (emitSendFiles)="onDisplayAttachment($event)">
        </app-card-attachment>

        <app-card-cover *ngIf="showCover" [addedCover]="card.cover"
                        (emitShowCover)="onCloseCover($event)"
                        (emitCoverChosen)="onCoverChosen($event)">
        </app-card-cover>
      </div>

    </div>

  </div>

</div>

